{% extends 'base.html.twig' %}

{% block body %}
    <section class="section has-background-light">
        <div class="container">
            <div class="section">
                <h1 class="is-size-1">500</h1>
                <p>
                    {{ 'error.500'|trans }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}
