{% extends 'base.html.twig' %}

{% block body %}
    <section class="section has-background-light">
        <div class="container">
            <div class="section">
                <h1 class="is-size-1">403</h1>
            </div>
        </div>
    </section>
{% endblock %}
